!!! 5
html(lang="en")
  head
    title 
    link(href="/static/css/style.css", media="screen", rel="stylesheet", type="text/css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js", type="application/javascript")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js", type="application/javascript")
    script(src="/static/js/add_rm_row.js", type="application/javascript")
    script(src="/static/js/tweet.js", type="application/javascript")


  body
    div.content!= body